<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="Samandar">
    <link rel="stylesheet" href="/webroot/css/foundation.css">
    <link rel="stylesheet" href="/webroot/css/style.css">
</head>
<body>

<#if winner==player>
    <h6 style="text-align: center;background-color: #7ad03a;color: white;">YOU WIN !!!</h6>
</#if>
<#if winner!=player>
    <h6 style="text-align: center;background-color: red;color: white;">YOU LOSE !!!</h6>
</#if>



</body>
</html>